body {
    margin: 1.5%;
    background-color: lightgray;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 10rem);
    grid-gap: 1rem;
    justify-content: center;
}

.title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
    color: black;
    text-align: center;
}

.item {
    background-color: var(--color-yellow);
    padding: 1.5rem;
    height: 3rem;
    background-color: #c1afa0;
    box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.5);

    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    color: black;
    text-align: center;
}

.item:hover {
    font-weight: bold;
    scale: 110%;
}